<?xml version="1.0"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	version="3.0" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>Interactive Wikihistorybook</display-name>
	<welcome-file-list>
		<welcome-file>index.xhtml</welcome-file>
	</welcome-file-list>
	<session-config>
		<session-timeout>20</session-timeout>
	</session-config>
	<listener>
		<listener-class>ch.fhnw.business.iwi.wikihistorybook.webapp.SessionCounterListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
    <servlet>
        <servlet-name>svgServlet</servlet-name>
        <servlet-class>ch.fhnw.business.iwi.wikihistorybook.webapp.http.SvgServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>svgServlet</servlet-name>
        <url-pattern>/gensvg/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>jsonServlet</servlet-name>
        <servlet-class>ch.fhnw.business.iwi.wikihistorybook.webapp.http.JsonServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>jsonServlet</servlet-name>
        <url-pattern>/genjson/*</url-pattern>
    </servlet-mapping>
	<context-param>
		<param-name>javax.faces.FACELETS_LIBRARIES</param-name>
		<param-value>/WEB-INF/wikihistorybook.taglib.xml</param-value>
	</context-param>
	<!-- Change to "Production" when you are ready to deploy -->
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
	</context-param>
</web-app>
