body {
  padding-top: 60px;
}

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-title {
  font-size: 20px;
  color: #999;
}

.sidebar-module {
  padding: 10px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 10px;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

#footer {
  padding-top: 40px;
	
}